@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;                                              
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

.anchor {
    position: relative;
    top: -150px;
}


/*Navbar*/


.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    flex-grow: 1;
}

.links a {
    margin-right: 30px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 3;
}

.navbarknap {
    margin-right: 50px;
}

.mindrelogo{
 height: 75px;
 margin: 20px auto 20px 50px;
}



/*Knap*/


button{
    font-size: 32px;
    color: white;
    background-color: #ed1c24;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    align-items: center;
    transition: 0.35s ease-in-out;
}

.button__navbar{
    font-size: 32px;
    color: white;
    background-color: #ed1c24;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    align-items: center;
    transition: 0.35s ease-in-out;
    margin-right: 20px;
}


button:hover, a.button:hover {
    background-color: #bf0f16;
    cursor: pointer;
}








h1{
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.p1{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #76070B;
}




/*Hero*/

.hero-image {
    width: 100%;
    height: 70.5vh;
    object-fit: cover;
    z-index: 1;
}
.tekstforanherobanner{
    z-index: 2;
    color: white;
    height: auto;
    width: 720px;
    background-color: #ed1c24;
    margin-left: 575px;
    margin-top: 150px;
    position: absolute;
    padding: 60px 130px 60px 130px;
}

.hvid {
    height: 20px;
    width: auto;
    background-color: #FFFFFF;
}


/*Loeb for sindet*/

.loebforsindetsection{
    height: auto;
    background-color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 75px;
    }

.paragraph {
    text-align: left;
    width: 50%;
    margin: 10px auto 20px auto;
}


.red-text {
    color: #ed1c24;
    white-space: pre;
}



/*Faktaboks*/

.factsection {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.faktabillede {
    width: 750px;
    position: absolute;
    /*z-index: 1;*/
    margin: 75px 525px 75px 0px;
    
}

.tekstforanfaktabillede{
    z-index: 1;
    color: white;
    /*height: auto;*/
    width: 750px;
    background-color: #ed1c24;
    /*margin-left: 575px;
    margin-top: 150px;
    position: absolute;*/
    margin-left: 525px;
    padding: 80px;
}

.tekstforanfaktabillede h1 {
    display: block;
}

.leftalign{
    text-align: left;
}



/*Card med pratiske informationer og gevinst lavet af Vincent*/

.cardsection {
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #F5F5F5;
}

#card{
    list-style: none;
    display: flex;
    justify-content: center;
}

#card li {
    border-radius: 10px;
    background-color: #ed1c24;
    margin: 20px 50px 20px 50px;
    padding: 40px;
}
.cardheader {
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.cardbrødtekst{
    color: white;
    display: flex;
    justify-content: center;

}



/*Rute*/

.rutesection{
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #FFFFFF;
}

.stravalogo{
    height: 20px;
    width: auto;
}

.loeberute{
    height: 200px;
    width: auto;
}

.flexdirectionrow{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.serute{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: pre;
}

.ruteknap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
}

.kmtekst{
    margin-bottom: 25px;
}

a.button {
    font-size: 32px;
    color: white;
    background-color: #ed1c24;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    align-items: center;
    transition: 0.35s ease-in-out;
}



/*Slideshow af Andreas*/

.slideshowsection{
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #F5F5F5;
}

  .slideshow-wrapper {
    display: flex;
    justify-content: center; 
    flex-direction: row;
}

.slideshow-container {
    max-width: 1000px;
    position: relative; 
    margin: 0; 
}

.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #ed1c24;
    font-weight:bold;
    font-size: 22px;
    border-radius: 1000px;
    user-select: none;
    transition: 0.1s;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

.stortbillede{
    object-fit: contain;
    float: center;
    height: 600px;
    width: 800px;
}



/*Tilmelding*/


.tilmeldingssektion {
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

.formular input {
    width: 400px;
    padding: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: solid 2px #F5F5F5;
  }

  label {
    margin-bottom: 5px;
    font-weight: 600;
  }

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-side {
    margin: 100px;
}

.tilmeldingstekst {
    text-align: left;
}

.formular {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.form-tilmeld {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formular input:hover {
    border: solid 2px #a3a3a3;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}



/* Distance (Sebastian)*/

#distance {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#distance input {
    margin-left: 30px;
    margin-right: 5px;
}

.formular-tjek {
    margin-bottom: 20px;
}



/*Tak for tilmelding*/

.alignbutton {
    display: flex;
    justify-content: center;
}




/*Pil*/

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
    margin-bottom: 1px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



/*
.sixthsection {
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #FFFFFF;

    .hvidtekst{
    color: #FFFFFF;
}

}*/



/* Sponsorer */

.sponsorsection{
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #F5F5F5;
}
.sponsorerlogo{
    display:flex ;
    justify-content: center;
    height: 200px;
    width: auto;
}


/*Footer*/

footer {
    color: white;
    background-color: #3E3E3E;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.kontakt-ikoner {
    display: flex;
    flex-direction: column;
    padding: 75px 50px 50px 50px;
    width: 400px;
}

.kontakt-ikoner img {
    height: 25px;
    width: 25px;
    margin: 10px;
}

.telefon, .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;

}

.følg-os {
    font-style: italic;
    font-weight: 900;
    margin-bottom: 20px;
}

.sociale-medier {
    padding: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sociale-medier-ikoner {
    display: flex;
    justify-content: center;
}


.sociale-medier-ikoner img {
    height: 50px;
    width: 50px;
    margin: 10px;
}


.footer-right {
    padding: 50px;
    width: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-logo {
    height: 75px;
    
}




/*Mobile*/

  @media screen and (max-width: 600px) {
    
.hero-image{
    width: 100%;
    height: auto;
}

.faktabillede{
    width: 65%;
}


#card{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column;
}

.stortbillede{
    width: 100%; 
}

.sponsorsection{
display: flex;
flex-direction: column;
}

.sponsorerlogo{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    justify-content: center;
    }
.footer-section{
    display: flex;
    flex-direction: column;
}

}






.mobile-toggle {
    display: none;
    color: var(--ashgrey-900);
    padding: 10px;
    @media (max-width: 768px){
        display:inline-block;
        position:absolute;
        top:20px;
        right:20px;
    }
}