@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;                                              
}
a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

ul {
    display: flex;
    list-style-type: none;
}
li{
    margin: 50px 100px 50px 100px;
}
nav{
    background-color: #F5F5F5;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    height: 100px;
    position: absolute;
    transform: translateY(-50%);
    left: 20px;
    top: 50%;
}

.navigationbar{
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 100%;
    height: 70.5vh;
    object-fit: cover;
}
h1{
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
p{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto 50px auto;

}
input {
    width: 100%;
  }